img {
    border: 1px solid black;
    height: 250px;
    width: 30%;
    float: left;
    margin-left: 10px;
}

body{
    width: 100%;
}


aside {
    border: 1px solid black;
    height: 600px;
    width: 35%;
    float: left;
}